SUPABASE_URL=https://mjzkyeaelcaqclkhyuvu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1qemt5ZWFlbGNhcWNsa2h5dXZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0NzUxNzQsImV4cCI6MjA5ODA1MTE3NH0.nkiumQt88HaJKTSotjEEnLog5HWg6q3OZ9nrLI4Wc7I
SUPABASE_BUCKET=CV's
